/* 글쓰기 폼 숨김 */
#write-form {
    display: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f2f2f2;
}
  /* 제목 스타일 */
h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

  /* 글쓰기 버튼 스타일 */
#write-btn {
    background-color: #00bfff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

  /* 글쓰기 버튼 호버 스타일 */
#write-btn:hover {
    background-color: #0077b3;
}

  /* 글쓰기 폼 스타일 */
#write-form {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

  /* 제목 입력 필드 스타일 */
input[name="title"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

  /* 내용 입력 필드 스타일 */
textarea[name="content"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border: none;
    border: 1px solid #ccc;
}

  /* 작성 버튼 스타일 */
button[type="submit"] {
    background-color: #00bfff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

  /* 작성 버튼 호버 스타일 */
button[type="submit"]:hover {
    background-color: #0077b3;
}

  /* 게시물 목록 스타일 */
#post-list {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

  /* 게시물 스타일 */
#post-list li {
    background-color: #f7f7f7;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

  /* 제목 스타일 */
#post-list li h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

  /* 내용 스타일 */
#post-list li p {
    font-size: 1.2rem;
    margin-bottom: 0;
}
