<!-- board.ejs -->
<button id="write-btn">글쓰기</button>

<script>
  const writeBtn = document.getElementById('write-btn');
  writeBtn.addEventListener('click', () => {
    location.href = '/board/write';
  });
</script>

<div id="board-list">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < posts.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><a href="/board/<%= posts[i].id %>"><%= posts[i].title %></a></td>
          <td><%= posts[i].author %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
